{% extends  'template.html'%}
{% block content %} 
           <article>
            <h2>Software Engineer</h2>
            <p>We are looking for a passionate and skilled software engineer to join our development team. The ideal candidate should have experience in building scalable web applications using modern technologies such as React, Node.js, and MongoDB. Responsibilities include designing, implementing, and maintaining software solutions, collaborating with cross-functional teams, and contributing to the overall software architecture.</p>
        </article>
        <article>
            <h2>Data Scientist</h2>
            <p>We are hiring a data scientist to analyze large datasets and extract valuable insights to drive business decisions. The candidate should have expertise in statistical analysis, machine learning techniques, and programming languages such as Python or R. Responsibilities include developing predictive models, designing experiments, and communicating findings to stakeholders.</p>
        </article>
        <article>
            <h2>Graphic Designer</h2>
            <p>We are seeking a creative and talented graphic designer to join our marketing team. The ideal candidate should have a strong portfolio showcasing their design skills and experience with Adobe Creative Suite or similar tools. Responsibilities include creating visual assets for digital and print media, collaborating with the marketing team to develop engaging campaigns, and ensuring brand consistency across all channels.</p>
        </article>
{% endblock  %}
