<img src="Screenshot 2024-04-03 at 12-07-49 GLOWJOBS-MockUp - Preview - GLOWJOBS-MockUp - Preview.pdf.png" usemap="#image-map">

<map name="image-map">
    <area target="" alt="index" title="index" href="/" coords="309,20,82,78" shape="rect">
    <area target="" alt="/Create_acount" title="Create_acount" href="/register" coords="178,570,429,630" shape="rect">
    <area target="" alt="Blog" title="Blog" href="/blog" coords="685,33,721,55" shape="rect">
    <area target="" alt="Get_premium" title="Get_premium" href="/get_premium" coords="830,37,933,58" shape="rect">
    <area target="" alt="Contact us" title="Contact us" href="/contact" coords="1007,38,1092,55" shape="rect">
    <area target="" alt="Launchapp" title="Launchapp" href="/launchapp" coords="1305,20,1470,68" shape="rect">
</map>
